* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #D4EDDA;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}

header {
    padding-bottom: 10px;
    margin-bottom: 15px;
}

header h1, footer h3 {
    padding: 20px 0;
}

h2 {
    text-align: center;
}

nav ul, footer ul {
    list-style-type: none;
    padding: 10px 0;
    text-align: center;
}

nav ul li, footer ul li {
    display: inline;
}

nav ul li a, footer ul li a {
    color: white;
    background-color: #5f9ea0;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #7fb2b7;
}

img {
    width: 50%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.3);
}




main {
    padding: 0 20px;
}

article {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    max-width: 800px;
    margin: auto;
    text-align: justify;      /* zarovná inline prvky (včetně img) */
}

article img {
    display: block;
    margin: 10px auto;  /* auto okraje vycentrují blok */
}

article h3 {
    color: #333;
}

article p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 10px;
}
